ErrorDocument 403 "NNoob"
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /moscovium/

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule ^(.*)$ index.php?uri=$1

  
</IfModule>